@{
    ViewData["Title"] = "ClientMeters";
}
<link rel="stylesheet" href="~/css/user.css" /> 

<section class="page">
    <h1 class="h1">Meters</h1>

    <table class="table mt-12">
        <thead>
        <tr>
            <th>Serial</th>
            <th>Installed</th>
            <th>Active</th>
            <th>Readings</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>SN-00001</td>
            <td>2024-01-10</td>
            <td>Yes</td>
            <td>12</td>
            <td><a class="btn" href="/Client/Readings">View readings</a></td>
        </tr>
        </tbody>
    </table>
</section>