@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Admin - Dashboard</h1>
<div class="home-actions">
    <h3><a asp-area="Admin" asp-controller="Client" asp-action="Show">Show users</a></h3>
    <h3><a asp-area="Admin" asp-controller="PowerStatus" asp-action="Show">Show PowerStatus</a></h3>
    <h3><a asp-area="Admin" asp-controller="Tariff" asp-action="Show">Show Tariffs</a></h3>
    <h3><a asp-area="Admin" asp-controller="Meter" asp-action="Show">Show Meter</a></h3>
</div>
